@charset "utf-8";
img {
    width: 60px;
    height: 60px;
    display: block;
}
.lt_container {
    padding-bottom: 85px;
}
.mui-table-cell {
    position: relative;
    width: 100%;
    display: block;
}
.cart_left {

}
.cart_right {

    overflow: hidden;
    /*overflow: hidden;*/
    padding-left: 10px;
    color: #8f8f94;
}
.cart_right .proName {
    color: #333;
    height: 42px;
}

.cart_right .price {
    color: red;
}
.cart_right .oldPrise {
    font-size: 14px;
    text-decoration: line-through;
}
.cart_right .num {
    font-size: 14px;
}
.cart_right .size {
    font-size: 14px;
}

.ck {
    position: absolute;
    bottom: 5px;
    left:5px;
}



.lt_cart_money {
    height: 30px;
    width: 100%;
    line-height: 30px;
    padding-left: 10px;
    position: absolute;
    bottom: 55px;
    font-size: 12px;
    background-color: #eee;
    color:red;
}
.lt_cart_money  a {
    padding: 0 15px;
    background-color: red;
    color: #fff;
}

.mui-popup-inner {
    text-align: left;
}
.edit_size {
    margin-bottom: 10px;
}
.edit_size span {
    padding: 5px;
    line-height: 32px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}
.edit_size span.now {
    background-color: #069;
    color: #fff;
}