@charset "utf-8";

.lt_main {
    padding: 0  40px;
    padding-top: 50px;
    box-sizing: border-box;
}
.mui-input-group .mui-input-row:after {
    left: 0;
}
.btn_confirm {
    margin-right: 20px;
}
.mui-input-group {
    margin-bottom: 20px;
}