@charset "utf-8";


/********历史记录*********************/

.lt_history .title span {
    font-size: 12px;
    color:#666;
}
.lt_history  .content a {
    font-size: 12px;

}
.lt_history  .content ul {
    border: 1px dashed #666;
    border-bottom: none;
}
.lt_history  .content li {
    padding-left: 10px;
    line-height: 30px;
    height: 30px;
    border-bottom: 1px dashed #666;
}
.lt_history  .content li span {
    line-height: 30px;
}